@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: light;
  --color-primary: #7ed6df;
  --color-primary-content: #042027;
}

@theme {
  --font-sans: "Fredoka", ui-sans-serif, system-ui, sans-serif;
  --color-brand: #7ed6df;
}
